# node
node_modules

# vscode
.vscode

# macos
*.DS_Store

# vagrant
.vagrant

log
*.log

/db

/dist

tmpConfig.json

.idea

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions